<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    </configSections>

    <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="ServerLog.txt"/>
        <appendToFile value="true"/>
        <maximumFileSize value="100KB"/>
        <maxSizeRollBackups value="2"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[Date: %date] [Thread: %thread] [Level: %-5level] [Method: %M] [Class: %C] - %message%newline"/>
        </layout>
      </appender>
      <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
        <mapping>
          <level value="ERROR" />
          <foreColor value="White" />
          <backColor value="Red, HighIntensity" />
        </mapping>
        <mapping>
          <level value="DEBUG" />
          <backColor value="Green" />
        </mapping>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="ALL"/>
        <appender-ref ref="RollingFileAppender"/>
        <appender-ref ref="ColoredConsoleAppender"/>
      </root>
    </log4net>
  
    <system.serviceModel>
      <services>
        <service name="CalculatorServiceLib.CalculatorService" behaviorConfiguration="calculationServiceBehaviour">
          
          <endpoint address="http://localhost:8080/CalculatorService"
                    binding="basicHttpBinding"
                    contract="Common.ICaclulatorService"/>
          <endpoint address="mex" 
                    binding="mexHttpBinding" 
                    contract="IMetadataExchange"/>
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8080/AndriiCalculatorService"/>
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name ="calculationServiceBehaviour">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>